html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: white;
    text-decoration: none;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@font-face {
	font-family: 'roboto';
	src: url(Roboto-Regular.ttf) format('truetype');
}

body {
	font-family: 'roboto';
	font-weight: 200;
}

.siteContainer {
	height: 100vh;
	display: grid;
	grid-template-columns: minmax(250px, 250px) 1fr minmax(350px, 400px);
	grid-template-rows: minmax(168px, 168px) 1fr 1fr;
}

.sidebarContainer {
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: #178ef7;
	display: grid;
	grid-template-rows: repeat(12, 50px);
	grid-template-columns: 50px 1fr;
	align-items: end;
	padding-left: 16px;
	padding-top: 16px;
}

.headerContainer {
	grid-column-start: 2;
	grid-column-end: 4;
	background-color: rgb(192, 75, 75);
	min-width: 900px;
	min-height: 160px;
	display: grid;
	grid-template-columns: 1fr minmax(100px, 500px) 1fr 1fr minmax(100px, 150px);
}

.contentContainer {
	grid-area: 2 / 2 / 4 / 3;
	background-color: rgb(228, 232, 255);
	overflow: auto;
	display: grid;
	width: auto;
	padding: 32px;
	gap: 32px;
	grid-template-columns: repeat(auto-fill, clamp(312px, 20vw, 380px));
	grid-template-rows: 24px repeat(auto-fill, clamp(280px, 33%, 320px));
}

.sideContentContainer {
	grid-area: 2 / 3 / 4 / 4;
	background-color: rgb(58, 88, 58);
	display: grid;
	grid-template-rows: 32px 1fr 64px 1fr;
	padding: 32px;
	min-height: 750px;
	overflow: hidden;
	background-color: rgb(228, 232, 255);
}

.projectHeadingText {
grid-area: 1 / 1 / 2 / -1 ;
align-self: flex-start;
}

.contentCardContainer {
	display: contents;
}

.announcementsContainer{
	background-color: #178ef7;
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0 4px 0 rgb(192, 75, 75);

}
.announcementsList{
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}
.trendingContainer {
	background-color: #178ef7;
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0 4px 0 rgb(192, 75, 75);
}

.trendingList {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 80px 1fr;
	align-items: center;
}

.sidebarIcon {
	width: 36px;
	height: 36px;
	padding-left: 6px;
}

.headerIcon {
	width: 48px;
	height: 48px;
	align-self: center;
}

.searchContainer {
	grid-column: 1 / 3;
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	gap: 8px;
}

.userNotifContainer {
	grid-column: 3 / 6;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 24px;
	padding-right: 32px;
	padding-top: 8px;
}

.userGreetingContainer {
	grid-area: 2 / 1 / 3 / 3;
	gap: 8px;
	padding-left: 32px;

	font-size: 12rem;
	display: grid;
	grid-template-rows: 40px 40px;
	grid-template-columns: 80px 1fr;
}

.searchInput {
	flex-grow: 1;
}

input {
	height: 25px;
	border-radius: 16px;
	border-style: none;
	border-color: none;
	background-color: rgb(228, 232, 255);
}

button {
	min-width: 120px;
	height: 45px;
	border-radius: 32px;
	border-style: none;
	border-color: none;
	background-color: rgb(228, 232, 255);
}
.buttonContainer {
	grid-area: 2 / 3 / 3 / 6;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.gap {
	grid-column: span 2;
}

p {
	font-size: 1.6rem;
}

h2 {
	font-size: 2rem;
	grid-area: 2 / 2 / 3 / 3;
}

.userIconSmall {
border-radius: 50%;
overflow: hidden;
min-height: 60px;
max-height: 60px;
min-width: 60px;
max-width: 60px;

}

.userIconMain {
	border-radius: 50%;
	overflow: hidden;
	max-width: 80px;
	max-height: 80px;
	grid-area: 1 / 1 / 3 / 2;
	align-self: center;
	}


h1 {
	font-size: 2rem;
	font-weight: 800;
	align-self: center;
}

.smallText {
	font-size: 0.8rem;
	grid-area: 1 / 2 / 2 / 3;
	align-self: end;
	justify-content: left;
}

h3 {
	font-size: 1.8rem;
	align-self: flex-end;
}

h4{
	font-size: 1.4rem;
}

li > p{
	font-size: 1.2rem;
}

.card {
 background-color: rgb(192, 75, 75);
 padding: 32px;
 border-radius: 8px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 box-shadow: 0 4px 0 #178ef7;
}

.cardIcons {
	align-self: flex-end;
	margin-top: 32px;
}

.cardPara {
	justify-self: flex-start;
}